* {
  color: #17003a;
  font-weight: 300;
}

body {
  background: #f9fafc;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: #364cc7;
}

a:hover {
  color: #0072ff;
  text-decoration: underline;
}

h1,
h2,
h3 {
  display: block;
  margin-bottom: 1em;
}

h1 {
  font-weight: 400;
  color: #848189;
}

.btn {
  display: inline-block;
  border: 1px solid #364cc7;
  font-weight: bold;
  padding: 0.5em;
  border-radius: 5px;
  transition: 300ms ease-in-out;
  margin: 0.5em;
}

a.btn:hover {
  background: #6772e5;
  color: white;
}
